@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: var(--f3-font);
    user-select: none;
    box-sizing: border-box;
    /* color: #000000; */
}
:root {
    --main-bg: #DC602E;
    --a-bg: #06D6A0;
    --b-bg: #BC412B;
    --c-bg: #2274A5;
    --d-bg: #FFFCF9;
    --gen-pad: 10px 20px;
    --f1-font: "Roboto", sans-serif;
    --f2-font: "Lato", sans-serif;
    --f3-font: "Poppins", sans-serif;
    --f4-font: "Bebas Neue", sans-serif;
}

body {
    /* background: var(--main-bg); */
    background: linear-gradient(145deg, #DC602E, #D7B49E);
}
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
    color: #fff;
}
.hero h1 span {
    color: var(--b-bg);
}
.hero textarea {
    width: 600px;
    height: 250px;
    background: #ffffff53;
    color: var(--b-bg);
    font-weight: 600;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
.hero textarea::placeholder {
    font-size: 16px;
    color: var(--b-bg);
}
.row {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button {
    background: var(--b-bg);
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img {
    width: 18px;
    
}
select {
    flex: 1;
    /* color: #000000; */
    color: var(--b-bg);
    /* background-color: var(--b-bg); */
    background: #ffffff53;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(https://img.icons8.com/sf-black/64/FFFFFF/expand-arrow.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 15px;
}
select::-webkit-scrollbar {
    display: none;
}
select:focus {
    /* background: transparent; */
    color: var(--b-bg);
}





@media only screen and (max-width: 600px) { 
    .hero {
        padding: 0 10px;
    }
    .hero textarea {
        width: 300px;
        display: flex;
        align-items: flex-start;
    }
    .row {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    select {
        height: 50px;
        padding: 20px 40px;
        background-position-y: 22px;
    }
    .row button {
        width: 90%;
        justify-content: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {}